.vs
.vscode
.idea
.claude

bin
obj
nugets
claude

.DS_Store
*.log
*.sln.DotSettings.user
*.g.cs
*.received.*

src/Benchmarks/ZeroQL.Benchmark/BenchmarkDotNet.Artifacts/results/RawVSZeroQL-report.csv
src/Benchmarks/ZeroQL.Benchmark/BenchmarkDotNet.Artifacts/results/RawVSZeroQL-report.html
src/Benchmarks/StrawberryShake.Client/Generated/StrawberryShakeTestServerClient.StrawberryShake.cs
